body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  background: linear-gradient(135deg,#cb4ae2, #541488);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.register-container {
  background: #fff;
  padding: 2rem 3rem;
  border-radius: 8px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.2);
  width: 340px;
}

.register-container h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #a45fff;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: .3rem;
  font-weight: bold;
  color: #333;
}

input {
  width: 100%;
  padding: .6rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: .7rem;
  background: #c45fff;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background .3s;
}

button:hover {
  background: #ae51e7;
}

.error {
  color: #8400b0;
  text-align: center;
  margin-bottom: 1rem;
}

p{
  text-align: center;
  margin-top: 1.5rem;
}